body {
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

a {
    text-decoration: none;
}

.button {
    background-color: #3882f6;
    color: white;
    font-size: 14px;
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    border-width: thin;
}

/* header */

#logo img {
    height: 80px;
    width: auto;
}


.first {
    display: flex;
    background-color: #1f2937;
    flex-flow: column nowrap;
    row-gap: 30px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.link {
    color: white;
    margin: 12px;
}

.info {
    display: flex;
    padding: 20px
}

.right-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px; 
}

.right-links a {
    color: white;
}


/* below header*/

.info {
    display: flex;
    color: white;
    justify-content: space-around;
}

.info .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info .title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.info .text{
    font-size: 18px;
    color: #e5e7eb;
}

.info img{
    height: 300px;
    width: auto;
}

/* Second Heading */

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    
}

.second .title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 40px;
}

.second .container{
    display: flex;
    column-gap: 40px;
    margin-bottom: 40px;
}

.second .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
}

.second img{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 8px;
    
}

.second .text{
    font-size: 18px;
    color: #9c9ea1;
}

/* Third */

.third{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    padding-top: 60px;
    padding-bottom: 60px;
}

.third .container{
    display: flex;
    flex-direction: column;

}
.third .text{
    font-size: 36px;
    font-style: italic;
    
}

.third .name{
    font-size: 34px;
    font-weight: bold;
    align-self: flex-end;
}

/* Fourth */

.fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.card {
    display: flex;
    background-color: #3882f6;
    padding: 20px 40px;
    border-radius: 8px;
    column-gap: 20px;
}

.fourth .title{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.fourth .text{
    font-size: 20px;
    color: white;
}

.card .left{
    display: flex;
    flex-direction: column;
}

.card .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .button{
    border-color: white;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 40px;
    color: white;
}
